.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: none;
    background-color: rgb(201, 183, 183);
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    padding-left: 35px;
    border-radius: 1rem;
    // margin: 1rem;
    width: 80%;
  }

  &__svg {
    color: rgb(0, 0, 0);
    width: 1rem;
    height: 3rem;
    // margin-left: 3.5rem;
    z-index: 1;
    padding-left: 3rem;
  }
}